.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid blue;
	border-right: 16px solid green;
	border-bottom: 16px solid red;
	border-left: 16px solid pink;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	font-size: 12px;
	border: none;
	width: 140px;
	height: 30px;
	border-radius: 5px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 140px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content .year:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.transparant-filter{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

.transparant{
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	width: 25px;
}

.alert-box {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:14px;
	padding:10px 36px;
	margin:10px;
}

.alert-box span {
	font-weight:bold;
	text-transform:uppercase;
}

.error {
	background:#ffecec;
	border:1px solid #f5aca6;
}

.success {
	background:#e9ffd9 ;
	border:1px solid #a6ca8a;
}

.warning {
	background:#fff8c4 ;
	border:1px solid #f2c779;
}

.notice {
	background:#e3f7fc;
	border:1px solid #8ed9f6;
}

.inputWithIconn.inputIconBg i{
	background-color:#aaa;
	color:#fff;
	padding:7px 4px;
	border-radius:4px 0 0 4px;
}

.inputWithIconn{
	position:relative;
}

.inputWithIconn i{
	position:absolute;
	left:0;
	top:28px;
	padding:9px 8px;
	color:#aaa;
	transition:.3s;
}

.inputWithIconn input[type=text]{
	padding-left:40px;
}

table.center{
	text-align: center;
}

.stats_item_number {
	white-space: nowrap;
	font-size: 2.25rem;
	line-height: 2.5rem;
	
	&:before {
		display: none;
	}
}

.txt_success {
	color: #2EAB6F;
}

.txt_warn {
	color: #f2562b;
}

.txt_sd {
	color: #04dda3;
}

.txt_tp{
	color: #f7e127;
}

.txt_win{
	color: #246d18;
}

.txt_lose{
	color: #e5140d;
}

.txt_smaller {
	font-size: .75em;
}

.flipY {
	transform: scaleY(-1);
	border-bottom-color: #fff;
}

.txt_faded {
	opacity: .65;
}

.txt_primary{
	color: #007bff;
}

.card {
	position: relative;
	margin-bottom: 24px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
	background: #888; 
}

::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.user-panel > .image>img {
	width: 100%;
	max-width: 45px;
	max-height: 45px;
	object-fit: cover;
}

.navbar-nav > .user-menu .user-image {
	object-fit: cover;
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: -2px;
}

li div a.btn{
	width: 70px;
	height: 36px;
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
	margin-left: 50px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
	margin-left: 50px;
}

.swal2-actions {
gap : 5px;
}
